@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl lg:text-5xl font-serif leading-[1.1];
}

h2 {
  font: 28px/1.1 'Copse', Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font: 20px/1.1 'Copse', Georgia, 'Times New Roman', Times, serif;
}

.card-container {
  perspective: 1000px; /* Adds a 3D effect */
  @apply w-full flex justify-center items-center;
}

.card {
  @apply flex w-full;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2.22s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  display: flex;
  backface-visibility: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card-back {
  transform: rotateY(180deg);
}

.bg-rainbow {
  background: url(/assets/you-bg.png) no-repeat top center;
  background-size: 100% auto;
}

#app {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#background.white-text::before {
  background: rgba(102, 114, 137, .6);
}

#background.black-text::before {
  background: rgba(238, 244, 255, .75);
}


#app > *:not(tab-dock) {
  @apply flex flex-col lg:max-w-2xl mx-auto;
}

.bg-transparent {
  background-color: rgba(0,0,0,0);
}

label.border-dashed, form div.border-dashed {
  @apply w-full;
}