@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full font-sans bg-neutral text-black dark:bg-black dark:text-white;
}

#app {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

h1 {
  @apply text-4xl lg:text-5xl font-serif leading-[1.1];
}

h2 {
  font: 28px/1.1 'Copse', Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font: 20px/1.1 'Copse', Georgia, 'Times New Roman', Times, serif;
}

input, .textarea-field {
  @apply text-base text-center focus:outline-none focus:bg-neutral transition-colors w-full rounded-xl p-2.5 bg-[rgba(0,0,0,0)] focus:text-black;
}

.textarea-field {
  position: relative;
}

textarea {
  border: 0;
  resize: none;
  display: block;
  width: 100%;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  @apply focus:bg-neutral transition-colors rounded-xl p-2.5 focus:text-black;
  outline: 0;
}

.bg-translucent {
  @apply bg-white bg-opacity-80 dark:bg-[#56637B] dark:bg-opacity-80 dark:text-white;
}

.toast {
  @apply opacity-0 -translate-y-full mx-auto w-max transition-all duration-1000 p-4 text-center rounded-xl;
}

.toast.info {
  @apply bg-[#C0EFFF] text-black;
}

.toast.error {
  @apply bg-[#FFDEF6] text-black;
}

.toast.success {
  @apply bg-accent text-black;
}

.toast.show {
  @apply !translate-y-0 !opacity-100;
}

.card-1, .card-2, .card-3 {
  @apply absolute top-0 left-1/2 -translate-x-1/2;
}

.card-1.shuffle {
  animation-name: card-1;
}

.card-2.shuffle {
  animation-name: card-2;
}

.card-3.shuffle {
  animation-name: card-3;
}

.shuffle {
  display: block;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  @apply ease-out;
}

@keyframes card-1 {
  0% { transform: translateX(-60%); }
  16.66666% {transform: translateX(-45%) rotate(15deg);} /* Moving to -45%, which is slightly right from center */
  33.33333% {transform: translateX(-55%) rotate(0deg); z-index: 1;} /* Moving to -55%, slightly left of center */
  49.99999% {transform: translateX(-55%); z-index: 1;} /* Stay at -55% */
  66.66666% {transform: translateX(-53%) rotate(0deg); z-index: 2;} /* Moving closer to center at -53% */
  83.33333% {transform: translateX(-53%); z-index: 2;} /* Stay at -53% */
}

@keyframes card-2 {
  0% { transform: translateX(-40%); }
  16.66666% {transform: translateX(-50%);} /* Start at -50%, the center */
  33.33333% {transform: translateX(-48%) rotate(0deg); z-index: 3;} /* Slightly to the right at -48% */
  49.99999% {transform: translateX(-35%) rotate(15deg);} /* Far to the right at -35% */
  66.66666% {transform: translateX(-52%) rotate(0deg); z-index: 1;} /* Slightly left of center at -52% */
  83.33333% {transform: translateX(-52%); z-index: 1;} /* Stay slightly left at -52% */
}

@keyframes card-3 {
  0% { transform: translateX(-60%); z-index: 1; }
  16.66666% {transform: translateX(-50%);} /* Start at -50%, the center */
  33.33333% {transform: translateX(-48%) rotate(0deg); z-index: 2;} /* Slightly right at -48% */
  49.99999% {transform: translateX(-48%); z-index: 2;} /* Stay at -48% */
  66.66666% {transform: translateX(-46%) rotate(0deg); z-index: 3;} /* More to the right at -46% */
  83.33333% {transform: translateX(-30%) rotate(15deg);} /* Far to the right at -30% */
}

.card-container {
  perspective: 1000px; /* Adds a 3D effect */
  @apply w-full flex justify-center items-center;
}

.card {
  @apply flex w-full flex-1;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2.22s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  display: flex;
  backface-visibility: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card-back {
  transform: rotateY(180deg);
}

.flipped .card-1, .flipped .card-2, .flipped .card-3 {
  display: none;
}

.textarea-field {

}

.textarea-field::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
  z-index: -2;
}